

@media only screen and (max-width: 600px) {
    .hero {
        position: absolute;
        top: 28%;
        left: 20%;
        right: 20%;

    }
    .heroSection {
        min-height: 78vh;
    }
    .burger-button {
        z-index: 999999;
    }
    .main-nav {
        padding: 0.6rem 0.8rem;
    }
    #logo {
        height: 40px;
    }
    .imageContainer {
        padding: 75px 0;
        margin: 0 auto;
        width: 267px;
    }
    .testimonials {
        background-color: #f33f02;
        position: relative;
        padding-top: 80px;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 60%;
            background-color: #f33f02;
        }

    }
    

     .owl-carousel .owl-next {
         right: 120px;
         top: 77%;
     }
     .owl-carousel .owl-prev {
         left: 120px;
         top: 77%;
     }
     #customers-testimonials p{
    margin-bottom: 49px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .heroSection {
        min-height:90vh;
    }
    
    .hero {
        position: absolute;
        top: 26%;
        left: 30%;
        right: 30%;

    }
    .owl-carousel .owl-next {
        right: -5px;
        top: 82%;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .heroSection {
      min-height: 70vh;
  }
   .hero {
       position: absolute;
       top: 23%;
       left: 30%;
       right: 30%;

   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
}
