<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frank Home</title>
    <link rel="stylesheet" href="css/style.css">

    <!---bootstrap----->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!----vue cdn------>
<script src="/roots/js/vue.min.js"></script>
</head>

<body>
    <!-----sidebar-------->
    <div class="navigation fixed-top">
<div id="app">
    <nav class="main-nav">
        <div class="logo">
            <a href="index.html"><img id="logo" src="/images/logo2.png"></a>
        </div>
        <Burger></Burger>
    </nav>

    <Sidebar>
        <ul class="sidebar-panel-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </Sidebar>
</div>

<template id="sidebar">
    <div class="sidebar">
        <div class="sidebar-backdrop" @click="closeSidebarPanel" v-if="isPanelOpen"></div>
        <transition name="slide">
            <div v-if="isPanelOpen" class="sidebar-panel">
                <slot></slot>
            </div>
        </transition>
    </div>
</template>

<template id="burger">
    <div id="burger" :class="{ 'active' : isBurgerActive }" @click.prevent="toggle">
        <slot>
            <button type="button" class="burger-button" title="Menu">
                <span class="hidden">Toggle menu</span>
                <span class="burger-bar burger-bar--1"></span>
                <span class="burger-bar burger-bar--2"></span>
                <span class="burger-bar burger-bar--3"></span>
            </button>
        </slot>
    </div>
</template>
    </div>
  
<!------hero section----------------->
<section class="heroSection">

</section>
    <!--sidebar ends here----->
    <script src="/js/main.js"></script>
</body>

</html>
