<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frank Home</title>
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">

        <!---bootstrap----->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!----vue cdn------>
        <script src="js/vue.min.js"></script>
</head>

<body>
    <!-----sidebar-------->
    <div class="navigation fixed-top">
        <div id="app">
            <nav class="main-nav">
                <div class="logo">
                    <a href="index.html"><img id="logo" src="images/logo2.png"></a>
                </div>
                <Burger></Burger>
            </nav>

            <Sidebar>
                <ul class="sidebar-panel-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#about">Buy</a></li>
                    <li><a href="#about">Rent</a></li>
                    <li><a href="#contact">Mortgage</a></li>
                </ul>
            </Sidebar>
        </div>

        <template id="sidebar">
            <div class="sidebar">
                <div class="sidebar-backdrop" @click="closeSidebarPanel" v-if="isPanelOpen"></div>
                <transition name="slide">
                    <div v-if="isPanelOpen" class="sidebar-panel">
                        <slot></slot>
                    </div>
                </transition>
            </div>
        </template>

        <template id="burger">
            <div id="burger" :class="{ 'active' : isBurgerActive }" @click.prevent="toggle">
                <slot>
                    <button type="button" class="burger-button" title="Menu">
                        <span class="hidden">Toggle menu</span>
                        <span class="burger-bar burger-bar--1"></span>
                        <span class="burger-bar burger-bar--2"></span>
                        <span class="burger-bar burger-bar--3"></span>
                    </button>
                </slot>
            </div>
        </template>
    </div>

    <!------hero section----------------->
    <section class="heroSection">
        <div class="hero">

            <h2>Discover a place you'll love to live</h2>
            <center><button class="btn btn-secondary">Book a Quote</button></center>
      
</div>
        </div>

    </section>

    <!--sidebar ends here----->

    <div class="wrapper">
        <section class="columns">

            <div class="column">
                <img class="img1"
                    src="https://cdn.pixabay.com/photo/2015/11/03/08/54/house-purchase-1019764_960_720.jpg">
                <h3>Affordable Properties</h3>
                <p>We at <strong>Frank<em style="color: rgb(218, 52, 30); font-style: normal;">Home</em></strong>, offer
                    life-changing opportunities to own a house of your dreams with just little token</p>
                <footer><a style="text-transform: capitalize; " href="#">read more...</a></footer>
            </div>

            <div class="column">
                <img class="img2" src="https://cdn.pixabay.com/photo/2017/01/23/16/35/home-2003069_960_720.png">
                <h3>Installmental Payment</h3>
                <p>We at <strong>Frank<em style="color: rgb(218, 52, 30); font-style: normal;">Home</em></strong>, give
                    you the opportunity to make annual part payment for properties of your dream</p>
                <footer><a style="text-transform: capitalize; " href="#">read more...</a></footer>
            </div>

            <div class="column">
                <img class="img3" src="https://cdn.pixabay.com/photo/2018/02/26/06/21/realtor-3182376_960_720.jpg">
                <h3>C of O</h3>
                <p>We at <strong>Frank<em style="color: rgb(218, 52, 30); font-style: normal;">Home</em></strong>, also
                    make sure you get all necessary certificates when you purchase any of our properties.</p>
                <footer><a style="text-transform: capitalize; " href="#">read more...</a></footer>
            </div>

        </section>

    </div>

<!-- partial:index.partial.html -->
<div class="imageContainer">
    <h3 style="margin-bottom: 30px;">PROPERTIES</h3>

    <div class="gallery-wrap">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
        <div class="item item-5"></div>
    </div>
</div>
    <script src="js/main.js"></script>
    
</body>

</html>